/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222; 
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex; /* ativei o flexbox para header */
  justify-content: flex-end; /* alinhei os items na horizontal */
  align-items: center; /* alinhei os items na vertical */
}

nav#menu ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600; /* peso da fonte */
  padding: 12px 15px; /* cima e baixo / laterais */
  border-radius: 5px;
  transition: background-color .5s, color .5s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid; /* ativei o grid layout */
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2; /* começa na coluna 2 */
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1; /* serve para definir a proporção entre a largura e altura da imagem */

  object-fit: cover; /* a imagem deve se ajustar à caixa definida por sua largura e altura */

  overflow: hidden; 
  /* defini o que acontece quando o conteúdo ultrapassa o tamanho da sua caixa - hidden vai cortar o conteúdo extra para não aparecer */

  border-radius: 50%; /* isso fez com que a imagem ficasse redonda */

  border: 5px solid var(--fundo-card); /* cria uma borda */
  outline: 5px solid var(--destaque); /* cria outra borda sobre a primeira */
  display: block;
  /* para centralizar a imagem */
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5em;
  text-align: left;
}

div#social { /* onde está os ícones de rede social */
  display: flex; /* ativei o flexbox */
  justify-content: center; /* alinhei os items na horizontal ao centro */
  align-items: center; /* alinhei os items na vertical ao centro */
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}

div#social a {
  color: var(--destaque);
  transition: color 0.5s;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9; /* cria um retângulo com proporção deitado(widescreen) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#skill-conteiner {
  display: grid;
  grid-template-columns: 1fr; /* uma coluna */
  gap: 30px; /* espaçamento entre linhas */
}

#skill-conteiner .info {
  display: flex;
  justify-content: space-between; /* para alinhar os items - nos cantos */
  align-items: center;
}

#skill-conteiner .nome {
  font-weight: bold;
  color: var(--texto);
}

#skill-conteiner .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skill-conteiner .barra {
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

#skill-conteiner .progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

#formacao-conteiner {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#formacao-conteiner .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: border-width 0.5s, border-color 0.5s;
}

#formacao-conteiner .curso:hover {
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer;
}

#formacao-conteiner .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-conteiner .instituicao {
  color: var(--destaque-inverso);
  font-size: 1.1em;
}

@media screen and (min-width: 768px) { /* quando eu aumentar a largura da tela, vai aparecer duas colunas */
  #skill-conteiner {
    grid-template-columns: 1fr 1fr;
  }
}